

.form-control{//input
    padding-left: 42px;
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: gray;
    border: none;
    outline: none;

}
.error-wr{
    height: 20px;
    .error{
        padding-left: 35px;
        font-size: 12px;
        letter-spacing: 2px;
        color: red;
    }
}
.form-control-wr{
    padding-top: 22px;
}