.form-wr{
    background-color: white;
}

.form-btn{
    position: absolute;
    border: 0;
    background-color: transparent;
    top: 20px;
    right: -80px;
    z-index: 10;
    cursor: pointer;
}
.icon-lock{
    position: absolute;
    bottom: 15px;
    left: 16px;

}
.icon-s{
    position: absolute;
    top: 11px;
    left: 16px;

}
.form-wrapper{
    width: 70%;
    background-color: white;
    position: relative;
    box-shadow: 4px 1px 35px rgba(9, 233, 254, .16);
    z-index: 0;

    
    &::after{
        content: '';
        position: absolute;
        bottom: 50%;
        left: 0;
        height: 1px;
        width: 128%;
        background-color: #6662621c;
        z-index: 9;
    }

    &::before{
        content: '';
        position: absolute;

        width: 92px;
        height: 92px;
        bottom: 0;
        right: 0;
        transform: translateX(50%);

        border-radius: 100px;
        border-radius: 86px;
        background-color: white; 
        box-shadow: 4px 1px 35px  rgba(9, 233, 254, .16);
        z-index: -1;
    }
}