@import '../scss/main.scss';

.header{
    width: 100%;
    
    &__wr{
 
        @media (min-width: 768px){
            display: flex;
            align-items: center;
        }
    }

    &__nav{
       
        width: 100%;

        @media (min-width: 768px){
            display: flex;
            justify-content: flex-start;
            width: 50%;
        }
        @media (min-width: 1024px){
            width: 67%;
        }
    }

    &__sing{
        margin-top: 20px;
        display: flex;
        width: 100%;
        align-items: center;    
        
        @media (min-width: 768px){
            width: 50%;
            justify-content: flex-end;
        }
        @media (min-width: 1024px){
            width: 33%;
        }
    }

    &__link-btn{
        padding: 0 30px;
        min-width: 130px;

        text-align: center;
        line-height: 35px;
        letter-spacing: 1.5px;
        border: 2px solid currentColor;
        border-radius: 8px;

        font-family: 'GothamPro', serif;
        font-size: 16px;
        font-weight: 700;
        color: #FF6442;
        
        text-decoration: none;
        transition: color .2s ease-in;
    }
    &__link-btn:first-child{
        margin-right: 30px;
    }
    &__link-solid{

        border: 2px solid #FF6442;
        background-color: #FF6442;
        color: white;
        transition: .2s ease-in;
    }
    &__link-btn:hover{
        color: #fff;
    }
    &__link-solid:hover{
        background-color: transparent;
        color: #FF6442;
    }

    @media (min-width: 768px){
        &__sing{
            margin-top: 0;
        }


        &__link-btn{
            
        }

        &__link-solid{
            border: 2px solid #FF6442;
            background-color: #FF6442;
            color: white;
            transition: .2s ease-in;
        }
    }

}
.header-wr{
    padding: 15px 0;
    background-color: #004e99;
}