@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: ligth;
    font-display: block;
    }
    
    @font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro-Black.woff") format("woff");
    font-weight: 700;
    font-style: bold;
    font-display: block;
    }
