@import './fonts.scss';

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1210px;
}
.background{
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-image: url(../image/skype.webp);
    background-position: center;
    background-size: cover;
}
